<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Home Page</title>
</head>
<body class="">
    
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">KNY</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/blogs" class="nav-link">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action active">
                        Web Development
                    </a>
                    <a href="" class="list-group-item list-group-item-action">
                        Mobile Apps
                    </a>
                    <a href="" class="list-group-item list-group-item-action">
                        Data Analitics
                    </a>
                    <a href="" class="list-group-item list-group-item-action">
                        Web Design
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <h2>Blogs</h2>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/images/rengoku.png" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Rengoku Kyojiro
                                </h5>
                                <p class="card-text">Flame hashira . Big Bro . Set your heart a blaze . Strong people must protect weaks.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/images/gyomei.jpg" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Himejima Gyomei
                                </h5>
                                <p class="card-text">Stone hashira . One of strongest hashira</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/images/obanai.jpg" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Iguro Obanai
                                </h5>
                                <p class="card-text">Snake Hashira</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/static/images/inosuke.jpg" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Inosuke Hashibira
                                </h5>
                                <p class="card-text">King of mountains. Kamaboko Gompachiro</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>